body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgeN696FZAxNniKGJ6fdMosF815pWjVsLTCQ&usqp=CAU");
}
/* Notas */
.Notas div{
	display: flex;
	justify-content: space-between;
}


.Notas{
  color: aliceblue;
  margin-top: 3%;
  width: 40%;
  margin-inline: auto;
}

/* formulario */

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
  	margin-top: 2%;
	background-color:#ccc;
}

form label{
	width: 78%;
	font-weight:bold;
	display:inline-block;
}


form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	margin-bottom: 10px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}

form button{
	width:100%;
	padding: 8px 16px;
	margin-top:32px;
	margin-top: 2%;
	margin-inline: auto;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
	text-align: center;
}

form button:hover{
	cursor:pointer;
}

/* complicado css de una parte del form */
.caja-switch{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(75, 75, 75);
	-webkit-transition: .4s;
	transition: .4s;
  }  
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #000;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #000;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }

 
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  /* error Message */

  .error{
	color: #ccc;
	text-indent: 86px;
	margin-top: 1%;
  }

